@import "cfg";
@import "compass/css3/font-face";

@include font-face("Open Sans", font-files("/static/font/OpenSans-Regular.ttf"));

body {
	background: #eee;
	width: 100%;
	font-family: $cfg-font-text;
	padding-top: 40px;
}

#logo {
	height: 35px;
	padding-top: 2px;
}

