@import "cfg";

#content {
	overflow: hidden;
	padding: 0 20px;
	h1 {
		font-family: $cfg-font-text;
		font-weight: bold;
		text-shadow: 0 0 10px #666;
		font-variant: small-caps;
	}
}

.icon {
	cursor: pointer;
	color: #999;
	&:hover {
		color: black;
	}
}
