@import "compass/css3";
@import "utils";

#facture-template {
	display: none;
}

#btn-factures-fermees {
	margin-bottom: 20px;
}

.facture-container {
	$color: #eee;

	border: 1px solid darken($color, 30%);
	margin: 20px;
	background-color: $color;

	.titre {
		$border: 1px solid #aaa;

		@include border-radius(0px 0px 5px 0px);
		border-right: $border;
		border-bottom: $border;
		padding: 5px;
		background-color: darken($color, 10%);
		color: #444;
		float: left;
		font-weight: bold;
	}

	.abonnement-absent {
		background-color: #FF6B84;
	}

	.abonnement-expire {
		background-color: #FF6B84;
	}

	.boutons {
		$border: 1px solid #aaa;

		@include border-radius(0px 0px 0px 5px);
		border-left: $border;
		border-bottom: $border;
		padding: 5px 2px 5px 0px;
		background-color: darken($color, 10%);
		float: right;

		i {
			margin-right: 4px;
		}
	}

	.contenu {
		margin: 40px 20px 20px 20px;

		tbody td {
			background-color: lighten($color, 15%)
		}

		.total {
			font-weight: bold;
		}

		.form-ajout-piece-facture {
			margin: 0;

			input {
				margin: 0;
			}
		}
	}


}
