@import "cfg";

#menu {
	width: 190px;
	text-align: center;
	float: left;
	ul {		
		width: 100%;
		margin: 0;
		padding: 0;
		li {
			$border: 1px #4c4c4c solid;
			
			margin: 0;
			border-bottom: $border;
			&:first-child {
				border-top: $border;
			}
			a {
				$padding: 10px;
				
				display: block;
				padding-top: $padding;
				padding-bottom: $padding;
				
				font-family: $cfg-font-text;
				text-align: center;
				
				&:link, &:visited {
					text-decoration: none;
					color: #ddd;
				}
				&:hover {
					background-color: $cfg-main-color;
					color: #333;
				}
				&:active {
					background-color: lighten($cfg-main-color, 15%);
				}
			}
		}
	}
}

#logo {
	background: url(/static/logo.png) no-repeat center 15px;
	min-height: 90px;
}
