#conteneur-messages {
	$gutter: 30px;
	$width: 400px;
	
	display: none;
	position: fixed;
	right: $gutter;
	top: $gutter;
	width: $width;
	padding: 15px 15px 5px 15px;
	background-color: #2c2c2c;
	z-index: 1003;
	> div {
		margin-bottom: 10px;
		padding: 10px;
		color: #333;
		font-weight: bold;
	}
}
