table#pieces.dataTable {
	display: none;

	tbody tr td {
		text-align: center;
	}
}

#ajout-a-facture {
  text-align: center;
  width: auto;

  #boutons-factures {
    text-align: left;
    padding: 5px;
    button {
      margin: 4px;
    }
  }

  #controles {
    padding: 4px;
  }
}
