/* line 4, ../../sass/sass/factures.scss */
#facture-template {
  display: none;
}

/* line 8, ../../sass/sass/factures.scss */
#btn-factures-fermees {
  margin-bottom: 20px;
}

/* line 12, ../../sass/sass/factures.scss */
.facture-container {
  border: 1px solid #a2a2a2;
  margin: 20px;
  background-color: #eee;
}
/* line 19, ../../sass/sass/factures.scss */
.facture-container .titre {
  -moz-border-radius: 0px 0px 5px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 5px 0px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  background-color: #d5d5d5;
  color: #444;
  float: left;
  font-weight: bold;
}
/* line 32, ../../sass/sass/factures.scss */
.facture-container .abonnement-absent {
  background-color: #FF6B84;
}
/* line 36, ../../sass/sass/factures.scss */
.facture-container .abonnement-expire {
  background-color: #FF6B84;
}
/* line 40, ../../sass/sass/factures.scss */
.facture-container .boutons {
  -moz-border-radius: 0px 0px 0px 5px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 0px 5px;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px 2px 5px 0px;
  background-color: #d5d5d5;
  float: right;
}
/* line 50, ../../sass/sass/factures.scss */
.facture-container .boutons i {
  margin-right: 4px;
}
/* line 55, ../../sass/sass/factures.scss */
.facture-container .contenu {
  margin: 40px 20px 20px 20px;
}
/* line 58, ../../sass/sass/factures.scss */
.facture-container .contenu tbody td {
  background-color: white;
}
/* line 62, ../../sass/sass/factures.scss */
.facture-container .contenu .form-ajout-piece-facture {
  margin: 0;
}
/* line 65, ../../sass/sass/factures.scss */
.facture-container .contenu .form-ajout-piece-facture input {
  margin: 0;
}

/* line 73, ../../sass/sass/factures.scss */
body.modal-open {
  overflow: visible;
}
