/* line 1, ../../sass/sass/reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../sass/sass/reset.scss */
strong {
  font-weight: bold;
}

/* line 8, ../../sass/sass/reset.scss */
em {
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(/static/font/OpenSans-Regular.ttf) format('truetype');
}

/* line 6, ../../sass/sass/base.scss */
body {
  background: #eee;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
}

/* line 13, ../../sass/sass/base.scss */
#logo {
  height: 35px;
  padding-top: 2px;
}

/* line 4, ../../sass/sass/factures.scss */
#facture-template {
  display: none;
}

/* line 8, ../../sass/sass/factures.scss */
#btn-factures-fermees {
  margin-bottom: 20px;
}

/* line 12, ../../sass/sass/factures.scss */
.facture-container {
  border: 1px solid #a2a2a2;
  margin: 20px;
  background-color: #eeeeee;
}
/* line 19, ../../sass/sass/factures.scss */
.facture-container .titre {
  -webkit-border-radius: 0px 0px 5px 0px;
  -moz-border-radius: 0px 0px 5px 0px;
  -ms-border-radius: 0px 0px 5px 0px;
  -o-border-radius: 0px 0px 5px 0px;
  border-radius: 0px 0px 5px 0px;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px;
  background-color: #d4d4d4;
  color: #444;
  float: left;
  font-weight: bold;
}
/* line 32, ../../sass/sass/factures.scss */
.facture-container .abonnement-absent {
  background-color: #FF6B84;
}
/* line 36, ../../sass/sass/factures.scss */
.facture-container .abonnement-expire {
  background-color: #FF6B84;
}
/* line 40, ../../sass/sass/factures.scss */
.facture-container .boutons {
  -webkit-border-radius: 0px 0px 0px 5px;
  -moz-border-radius: 0px 0px 0px 5px;
  -ms-border-radius: 0px 0px 0px 5px;
  -o-border-radius: 0px 0px 0px 5px;
  border-radius: 0px 0px 0px 5px;
  border-left: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px 2px 5px 0px;
  background-color: #d4d4d4;
  float: right;
}
/* line 50, ../../sass/sass/factures.scss */
.facture-container .boutons i {
  margin-right: 4px;
}
/* line 55, ../../sass/sass/factures.scss */
.facture-container .contenu {
  margin: 40px 20px 20px 20px;
}
/* line 58, ../../sass/sass/factures.scss */
.facture-container .contenu tbody td {
  background-color: white;
}
/* line 62, ../../sass/sass/factures.scss */
.facture-container .contenu .total {
  font-weight: bold;
}
/* line 66, ../../sass/sass/factures.scss */
.facture-container .contenu .form-ajout-piece-facture {
  margin: 0;
}
/* line 69, ../../sass/sass/factures.scss */
.facture-container .contenu .form-ajout-piece-facture input {
  margin: 0;
}

/* line 5, ../../sass/sass/factures-fermees.scss */
#factures-fermees tbody td {
  text-align: center;
}

/* line 6, ../../sass/sass/piece.scss */
#detailspiece td.cle, #detailspiece td.valeur {
  border-top: 1px #999999 solid;
  border-bottom: 1px #999999 solid;
}
/* line 10, ../../sass/sass/piece.scss */
#detailspiece td.cle {
  text-align: right;
  padding: 8px 8px 8px 50px;
  border-left: 1px #999999 solid;
}
/* line 15, ../../sass/sass/piece.scss */
#detailspiece td.valeur {
  font-weight: bold;
  padding: 8px 50px 8px 8px;
  border-right: 1px #999999 solid;
}

/* line 1, ../../sass/sass/pieces.scss */
table#pieces.dataTable {
  display: none;
}
/* line 4, ../../sass/sass/pieces.scss */
table#pieces.dataTable tbody tr td {
  text-align: center;
}

/* line 9, ../../sass/sass/pieces.scss */
table#pieces tr.inactive {
  color: #777;
}

/* line 13, ../../sass/sass/pieces.scss */
table#pieces td.liste-pieces-cellule-colonne-icones {
  white-space: nowrap;
}

/* line 17, ../../sass/sass/pieces.scss */
#ajout-a-facture {
  text-align: center;
  width: auto;
}
/* line 21, ../../sass/sass/pieces.scss */
#ajout-a-facture #boutons-factures {
  text-align: left;
  padding: 5px;
}
/* line 24, ../../sass/sass/pieces.scss */
#ajout-a-facture #boutons-factures button {
  margin: 4px;
}
/* line 29, ../../sass/sass/pieces.scss */
#ajout-a-facture #controles {
  padding: 4px;
}

/* line 34, ../../sass/sass/pieces.scss */
#ajoutpiece {
  display: none;
}

/* line 6, ../../sass/sass/membre.scss */
#detailsmembre td.cle, #detailsmembre td.valeur {
  border-top: 1px #999999 solid;
  border-bottom: 1px #999999 solid;
}
/* line 10, ../../sass/sass/membre.scss */
#detailsmembre td.cle {
  text-align: right;
  padding: 8px 8px 8px 50px;
  border-left: 1px #999999 solid;
}
/* line 15, ../../sass/sass/membre.scss */
#detailsmembre td.valeur {
  font-weight: bold;
  padding: 8px 50px 8px 8px;
  border-right: 1px #999999 solid;
}

/* line 1, ../../sass/sass/membres.scss */
table#membres.dataTable {
  display: none;
}
/* line 4, ../../sass/sass/membres.scss */
table#membres.dataTable tbody tr {
  cursor: pointer;
}
/* line 7, ../../sass/sass/membres.scss */
table#membres.dataTable tbody tr:hover {
  text-decoration: underline;
}
/* line 11, ../../sass/sass/membres.scss */
table#membres.dataTable tbody tr td {
  text-align: center;
}

/* line 18, ../../sass/sass/membres.scss */
#membres_wrapper, #ajoutmembre {
  display: none;
}

/* line 4, ../../sass/sass/datatable.scss */
table.dataTable tr.odd {
  background-color: #8dc73f;
}
/* line 8, ../../sass/sass/datatable.scss */
table.dataTable tr.odd td.sorting_1 {
  background-color: #a4d366;
}
/* line 11, ../../sass/sass/datatable.scss */
table.dataTable tr.odd td.sorting_2 {
  background-color: #b0d87a;
}
/* line 14, ../../sass/sass/datatable.scss */
table.dataTable tr.odd td.sorting_3 {
  background-color: #bcde8e;
}
/* line 19, ../../sass/sass/datatable.scss */
table.dataTable tr.even {
  background-color: #b0d87a;
}
/* line 23, ../../sass/sass/datatable.scss */
table.dataTable tr.even td.sorting_1 {
  background-color: #c8e4a2;
}
/* line 26, ../../sass/sass/datatable.scss */
table.dataTable tr.even td.sorting_2 {
  background-color: #d3eab5;
}
/* line 29, ../../sass/sass/datatable.scss */
table.dataTable tr.even td.sorting_3 {
  background-color: #dfefc9;
}

/* line 3, ../../sass/sass/contents.scss */
#content {
  overflow: hidden;
  padding: 0 20px;
}
/* line 6, ../../sass/sass/contents.scss */
#content h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 10px #666;
  font-variant: small-caps;
}

/* line 14, ../../sass/sass/contents.scss */
.icon {
  cursor: pointer;
  color: #999;
}
/* line 17, ../../sass/sass/contents.scss */
.icon:hover {
  color: black;
}

/* line 2, ../../sass/sass/admin.scss */
table#rapport td, table#rapport th {
  padding: 4px;
}
