
.facture-container {
  border: 1px solid #aaa;
  margin: 20px;
}

#facture-template {
  display: none;
}

.facture-titre {
  -webkit-border-radius: 0px 0px 5px 0px;
  -moz-border-radius: 0px 0px 5px 0px;
  border-radius: 0px 0px 5px 0px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  background-color: #f9f9f9;
  color: #333;
  float: left;
  font-weight: bold;
}

.facture-boutons {
  -webkit-border-radius: 0px 0px 0px 5px;
  -moz-border-radius: 0px 0px 0px 5px;
  border-radius: 0px 0px 0px 5px;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  background-color: #f9f9f9;
  color: #333;

  float: right;
}

.facture-boutons i.icon-trash {
  cursor: pointer;
  color: #999;
}

.facture-boutons i.icon-trash:hover {
  color: black;
}

.facture-boutons i.icon-folder-close {
  cursor: pointer;
  color: #999;
}

.facture-boutons i.icon-folder-close:hover {
  color: black;
}

.facture-contenu {
  margin: 40px 20px 20px 20px;
}

.facture-contenu td {
  background-color: #f9f9f9;
}

.facture-contenu input[type=text] {
  margin-bottom: 0px;
}

.facture-contenu form {
  margin: 0;
}

.facture-contenu i.icon-remove {
  cursor: pointer;
  color: #999;
}

.facture-contenu i.icon-remove:hover {
  color: black;
}

.facture-total {
  font-weight: bold;
}
