#pieces tbody tr td {
  text-align: center;
}

#pieces {
  display: none;
}

/* Automatiquement ajouté par datatables. */
#membres_wrapper {
  display: none;
}

#ajoutpiece {
  display: none;
}

/*
table.dataTable tr.odd { cursor: pointer; }
table.dataTable tr.even { cursor: pointer; }
table.dataTable tr.odd:hover { text-decoration: underline; cursor: pointer; }
table.dataTable tr.even:hover { text-decoration: underline;  cursor: pointer; }
*/
