{% extends "layout.html" %}
{% block head_extra %}
<script src="/static/js/admin-ventes.js"></script>
{% endblock %}

{% block content %}
  <h1>Ventes</h1>
  <form class="form-inline">
	  De <input type="text" placeholder="début" id="debut" class="input-small">
	  à <input type="text" placeholder="fin" id="fin" class="input-small">
	  <button class="btn btn-primary" id="afficher">Afficher</button>
  </form>
  <table id="ventes">
    <thead>
      <tr>
	<th>#</th>
	<th># babac</th>
	<th>section</th>
	<th>nom</th>
	<th>reference</th>
	<th>caracteristique</th>
	<th>Nb ventes</th>
	<th>Qte rest.</th>
      </tr>
    </thead>
  </table>
{% endblock %}
