{% extends "layout.html" %}
{% block head_extra %}
<script src="/static/js/factures-fermees.js"></script>
{% endblock %}

{% block content %}
  <h1>Factures fermées</h1>

  <div><a href="/factures" class="btn btn-primary">&laquo; Factures ouvertes</a></div>

  <div>
    <table id="factures-fermees">
      <thead>
         <tr>
           <th># facture</th>
           <th>Date</th>
           <th>Membre</th>
           <th>Prix total</th>
           <th>Réouvrir</th>
        </tr>
      </thead>
      <tbody>
        {% for facture in factures %}
          <tr data-numero-facture="{{ facture.numero }}">
            <td>{{ facture.numero }}</td>
            <td>{{ facture.date.strftime("%Y-%m-%d") }}</td>
            <td>{{ membres[facture['membre']].prenom }} {{ membres[facture['membre']].nom }}</td>
            <td>{{ facture.prixtotal }}</td>
            <td><i class="icon icon-folder-open reouvrir-facture"></i></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
