@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  padding: 0;
  margin: 0;
  background-color: #c9c9c9;
}

#menu {
  width: 190px;
  text-align: center;
}

#logo {
  background-image: url('/static/logo.png');
  background-color: #2c2c2c;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 70px;
  width: 190px;
}

#menu ul {
  padding: 0;
  margin: 0;
  width: 190px;
}

.menu-item {
  width: 170px;
  padding: 10px;
  margin: 0px;
  border-bottom: 1px #4c4c4c solid;
  border-top: 1px #3c3c3c solid;
  list-style-type: none;
  background-color: #2c2c2c;
  color: #dddddd;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.menu-item a {
  color: #dddddd;
  text-decoration: none;
}
