{% extends "layout.html" %}
{% block head_extra %}
<link href="/static/css/caisse.css" rel="stylesheet" type="text/css" />
<script src="/static/js/caisse.js"></script>
{% endblock %}

{% block content %}
  <h1>factures en cours</h1>

  <div>
    <form class="form-inline" id="form-nouvelle-facture">
    Nouvelle facture:
    <div class="input-append">
      <input type="text" class="input-mini" placeholder="membre" id="input-nouvelle-facture">
      <button class="btn">Go</button>
    </div>
    </form>
  </div>

  <div id="loading" style="text-align: center">
    <img src="/static/loading.gif" />
  </div>

  <div id="factures-container">
    <div class="facture-container" id="facture-template">
      <span class="facture-titre"></span>
      <span class="facture-boutons"><i class="icon-folder-close facture-close"></i>&nbsp;&nbsp;<i class="icon-trash facture-remove"></i></span>

      <div class="facture-contenu">
        <table class="table table-condensed">
          <tr>
            <th>#</th>
            <th>Catégorie</th>
            <th>Pièce</th>
            <th>Référence</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
            <th></th>
          </tr>
          <tr>
            <td colspan="100">
              <form class="form-ajout-piece-facture">
              <input class="input-mini input-numero-piece" type="text" placeholder="#">
              <input class="input-mini input-quantite-piece" type="text" placeholder="quantité">
              <input type="submit" class="btn" value="Ajouter">
              </form>
            </td>
          </tr>
        </table>
        <div style="text-align: right;" class="facture-total">Montant total: x.yy$</div>
      </div>
    </div>
  </div>


{% endblock %}
