<!doctype html>
<html>
  <head>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/jquery.pnotify.default.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/master.css" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/static/js/lib/jquery.pnotify.min.js"></script>
    <script src="/static/js/lib/jquery.dataTables.columnFilter.js"></script>
    <script src="/static/js/lib/mustache.js"></script>


    <script src="/static/js/commun.js"></script>
    <script src="/static/js/messages.js"></script>

    <link rel="icon" type="image/png" href="/static/img/icon.png" />

    <title>{% block title %}Inventaire Biciklo{% endblock %}</title>
    {% block head_extra %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/membres">Membres</a></li>
          <li><a href="/pieces">Pièces</a></li>
          <li><a href="/factures">/factures</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Admin
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Item 1</a></li>
              <li><a href="#">Item 2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="container">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
