<!doctype html>
<html>
  <head>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/master.css" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <script src="/static/js/commun.js"></script>
    <script src="/static/js/messages.js"></script>

    <link rel="icon" type="image/png" href="/static/img/icon.png" />

    <title>{% block title %}Inventaire Biciklo{% endblock %}</title>
    {% block head_extra %}
    {% endblock %}
  </head>
  <body>
    <div id="conteneur-messages"></div>
    <div id="container">
      <div id="menu">
        <div id="logo"></div>
        <ul>
          <li class="menu-item"><a href="/membres">Liste des membres</a></li>
          <li class="menu-item"><a href="/pieces">Liste des pièces</a></li>
          <li class="menu-item"><a href="/factures">Factures</a></li>
          <li class="menu-item"><a href="#">Achat</a></li>
          <li class="menu-item"><a href="/admin">Admin</a></li>
          <li class="menu-item"><a href="#">Notes</a></li>
        </ul>
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
