{% extends "layout.html" %}
{% block head_extra %}
<script type="text/javascript">
  function AfficherCacherBoutons() {
    $('#annuler').toggle();
    $('#sauvegarder').toggle();
    $('#modifier').toggle();
  }

  function DesactiverBoutons() {
    $('#annuler').button('disable');
    $('#sauvegarder').button('disable');
  }

  function ActiverBoutons() {
    $('#annuler').button('enable');
    $('#sauvegarder').button('enable');
  }

  function ActiverChamps() {
    $('#detailsmembre input').removeProp('disabled');
  }

  function DesactiverChamps() {
    $('#detailsmembre input').prop('disabled', 'true');
  }

  function RemoveGlobalKeypressHandlers() {
    $(document).unbind('keypress');
    $(document).unbind('keydown');
  }

  function InstallGlobalKeypressNormal() {
    RemoveGlobalKeypressHandlers();
    $(document).keypress(function (event) {
      if (event.which == 109) { // 'm'
        event.preventDefault();
        Modifier();
      }
    });
  }

  function InstallGlobalKeypressEdit() {
    RemoveGlobalKeypressHandlers();
    $(document).keydown(function (event) {
      if (event.which == 27) { // echap
        event.preventDefault();
        Annuler();
      } else if (event.which == 13) {
        event.preventDefault();
        Sauvegarder();
      }
    });
  }

  function Modifier() {
    InstallGlobalKeypressEdit();
    AfficherCacherBoutons();

    RemplacerParInputText($('#prenom'));
    RemplacerParInputText($('#nom'));

    // Bug: quand on appuie sur m, ça met un m dans la premiere case...
    $('#detailsmembre input').first().focus();
  }

  function Sauvegarder() {
    // Pendant qu'on sauve, on ne veut pas d'autres actions
    RemoveGlobalKeypressHandlers();
    DesactiverChamps();
    DesactiverBoutons();

    put_data = {
      'prenom': $('#prenom_input').val(),
      'nom': $('#nom_input').val(),
    };
  
    numero = $('#numero').text();
    
    $.ajax({
      url: '/api/membres/' + numero,
      type: 'PUT',
      dataType: 'json',
      data: put_data,
      }).done(function (data) {
      if (data.status == 'ok') {
        InstallGlobalKeypressNormal();
        AfficherCacherBoutons();
        ActiverBoutons();
        RemettreTexte($('#prenom'), true);
        RemettreTexte($('#nom'), true);
        AfficherInfo('Sauvegardé !');
      } else {
        AfficherErreur('Erreur lors de la requête: ' + data.errorstr);
        ActiverBoutons();
        ActiverChamps();
        InstallGlobalKeypressEdit();
      }
    }).fail(function () {
      AfficherErreur('Erreur lors de la sauvegarde.');
      ActiverBoutons();
      ActiverChamps();
      InstallGlobalKeypressEdit();
    });
  }

  function Annuler() {
    InstallGlobalKeypressNormal();
    AfficherCacherBoutons();
    RemettreTexte($('#prenom'), false);
    RemettreTexte($('#nom'), false);
  }

  function RemplacerParInputText(cellule) {
    val = cellule.text();
    cellule.empty();

    field = $('<input type="text" />');
    field.val(val);
    field.prop('id', cellule.prop('id') + '_input');

    cellule.prop('data-original', val);
    cellule.append(field);
  }

  function RemettreTexte(cellule, utiliser_nouvelle_valeur) {
    if (utiliser_nouvelle_valeur) {
      val = cellule.find('input').val();
    } else {
      val = cellule.prop('data-original');
    }

    cellule.empty();
    cellule.removeProp('data-original');
    cellule.text(val);
    return val;
  }

  function RemettreNouveauTexte(cellule) {
    val = cellule.find('input').val();

    cellule.empty();
    cellule.text(val);
  }

  $(document).ready(function() {
    $('#retourliste').button();
    $('#modifier').button().click(Modifier);
    $('#sauvegarder').button().click(Sauvegarder);
    $('#annuler').button().click(Annuler);
    InstallGlobalKeypressNormal();
  });

</script>

{% endblock %}
{% block content %}
  <h1>Membre :  {{ membre.prenom }} {{ membre.nom  }}</h1>
  <p>
    <a href="/membres" id="retourliste">Retour à la liste</a>
    <a id="modifier">Modifier</a>
    <a id="sauvegarder" style="display: none;">Sauvegarder</a>
    <a id="annuler" style="display: none;">Annuler</a>
  </p>
  <p>
  <strong>m</strong> - modifier, <strong>entrée</strong> - sauvegarder, <strong>échap.</strong> - annuler
  </p>
  <p>
    <table id="detailsmembre">
      <tbody>
        <tr class="even">
         <td class="cle">Numéro</td>
         <td class="valeur" id="numero">{{ membre.numero }}</td>
        </tr>
        <tr class="odd">
          <td class="cle">Prénom</td>
          <td class="valeur" id="prenom">{{ membre.prenom }}</td>
        </tr>
        <tr class="even">
          <td class="cle">Nom</td>
          <td class="valeur" id="nom">{{ membre.nom }}</td>
        </tr>
        <tr class="odd">
          <td class="cle">Type d'abonnement</td>
          <td class="valeur">{{ membre.type }}</td>
        </tr>
      </tbody>
    </table>
  </p>
{% endblock %}
