{% extends "layout.html" %}
{% block head_extra %}
<script src="/static/js/membres.js"></script>

{% endblock %}
{% block content %}
  <h1>Liste des membres</h1>
  <p><strong>+</strong> - nouveau membre</p>
  <div style="margin-bottom: 20px">
    <a id="boutonajoutmembre">Nouveau membre</a>
  </div>
  <div id="ajoutmembre">
    <form id="formulaireajoutmembre">
      <p>
        <input type="text" id="ajoutprenom" data-default="Prénom" />
        <input type="text" id="ajoutnom" data-default="Nom" />
      </p>
      <p>
        <input type="text" id="ajoutcourriel" data-default="Courriel" />
        <input type="text" id="ajoutprovenance" data-default="Provenance">
      </p>
      <p>
        <input type="checkbox" checked="true" id="ajoutlistedenvoi" /><label for="ajoutlistedenvoi">Ajouter à la liste d'envoi: oui</label>
      </p>
      <p>
        <input type="submit" value="Envoyer" id="ajoutenvoyer" />
        <input type="reset" value="Réinitialiser" id="ajoutreinitialiser" />
      </p>
    </form>
  </div>
  <div id="loading" style="text-align: center">
    <img src="/static/loading.gif" />
  </div>
  <div>
    <table id="membres">
      <thead>
         <tr>
           <th data-column="numero">#</th>
           <th data-column="prenom">Prénom</th>
           <th data-column="nom">Nom</th>
           <th data-column="courriel">Courriel</th>
           <th data-column="provenance">Provenance</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}
