{% extends "layout.html" %}
{% block head_extra %}

<script type="text/javascript">
 
  function RemplirTableauMembres(json_data) {
    tableau = $('#membres');
    
    colonnes = []

    membres = new Array();
    $('#membres th').each(function(i) {
      colonnes.push($(this).attr('data-column'));
    });
    
    for (i in json_data) {
      
      infos = json_data[i];
      membre = new Array();

      for (col in colonnes) {
        colname = colonnes[col];

        if (colname in infos) {
          membre.push(infos[colname]);
        } else {
          membre.push('?');
        }
      }

      membres.push(membre);
    }
    
    $('#membres').dataTable({
      'aaData': membres,
      'bJQueryUI': true,
      'bLengthChange': false,
    });
  }

  function ViderTableauMembres() {
    
  }

  function RechargerListeMembres() {
    $.getJSON('/api/membres', null, function (data) {
      RemplirTableauMembres(data);
    });
  }

  $(document).ready(function () {
    RechargerListeMembres();

    $('#boutonajoutmembre').button();
    $('#boutonajoutmembre').click(function () {
      $('#ajoutmembre').dialog('open');
    });

    $('#ajoutmembre').dialog({
      'autoOpen': false,
      'modal': true,
      'height': 'auto',
      'width': 900,
      'title': 'Nouveau membre',
    });

    $('input[type="text"][data-default]').each(function (i) {
      defval = $(this).attr('data-default');
      $(this).val(defval);
      $(this).addClass('input-with-default');

      $(this).focus(function () {
        defval = $(this).attr('data-default');
        if ($(this).val() == defval) {
          $(this).val('');
          $(this).removeClass('input-with-default');
        }
      });

      $(this).blur(function () {
        if (!$(this).val()) {
          defval = $(this).attr('data-default');
          $(this).val(defval);
          $(this).addClass('input-with-default');
        }
      });
    });

    $('#typeabonnement').buttonset();
    $('#provenance').buttonset();
    $('#provenance2').autocomplete({
      source: ['Poly', 'UdeM', 'HEC'],
      minLength: 0,
    }).focus(function() {
      $('#provenance2').autocomplete('search');
    });
  });
</script>

{% endblock %}
{% block content %}
  <h1>Liste des membres</h1>
  
  <input type="button" value="Nouveau membre" id="boutonajoutmembre" />
  <div id="ajoutmembre">
    <form id="formulaireajoutmembre">
      <p>
        <input type="text" id="ajoutprenom" data-default="Prénom" />
        <input type="text" id="ajoutnom" data-default="Nom" />
      </p>
      <p> 
        <div id="typeabonnement">
          Type d'abonnement: 
          <input type="radio" name="typeabonnement" id="abonnementannuel" checked="checked"/><label for="abonnementannuel">Annuel</label>
          <input type="radio" name="typeabonnement" id="abonnementmensuel" /><label for="abonnementmensuel">Mensuel</label>
        </div>
      </p>
      <p>
        <div id="provenance">
          Provenance: 
          <input type="radio" name="provenance" id="provenance-poly" /><label for="provenance-poly">Poly</label>
          <input type="radio" name="provenance" id="provenance-udem" /><label for="provenance-udem">UdeM</label>
          <input type="radio" name="provenance" id="provenance-hec" /><label for="provenance-hec">HEC</label>
          
        </div>
      </p>
      <p>
        <input id="provenance2">
      </p>
    </form>
  </div>

  <br /></br />
  <table id="membres">
    <thead>
       <tr>
         <th data-column="numero">#</th>
         <th data-column="prenom">Prénom</th>
         <th data-column="nom">Nom</th>
         <th data-column="dateecheance">Echeance</th>
         <th data-column="provenance">Provenance</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}
