{% extends "layout.html" %}
{% block head_extra %}
<script type="text/javascript">
  function AfficherCacherBoutons() {
    $('#annuler').toggle();
    $('#sauvegarder').toggle();
    $('#modifier').toggle();
  }

  function DesactiverBoutons() {
    $('#annuler').button('disable');
    $('#sauvegarder').button('disable');
  }

  function ActiverBoutons() {
    $('#annuler').button('enable');
    $('#sauvegarder').button('enable');
  }

  function ActiverChamps() {
    $('#detailsmembre input').removeProp('disabled');
  }

  function DesactiverChamps() {
    $('#detailsmembre input').prop('disabled', 'disabled');
  }

  function RemoveGlobalKeypressHandlers() {
    $(document).unbind('keypress');
    $(document).unbind('keydown');
  }

  function InstallGlobalKeypressNormal() {
    RemoveGlobalKeypressHandlers();
    $(document).keypress(function (event) {
      if (event.which == 109) { // 'm'
        event.preventDefault();
        Modifier();
      }
    });
  }

  function InstallGlobalKeypressEdit() {
    RemoveGlobalKeypressHandlers();
    $(document).keydown(function (event) {
      if (event.which == 27) { // echap
        event.preventDefault();
        Annuler();
      } else if (event.which == 13) {
        event.preventDefault();
        Sauvegarder();
      }
    });
  }

  function Modifier() {
    InstallGlobalKeypressEdit();
    AfficherCacherBoutons();

    RemplacerParInputText($('#prenom'));
    RemplacerParInputText($('#nom'));
    RemplacerParInputRadio($('#listedenvoi'));

    $('#detailsmembre input').first().focus();
  }

  function Sauvegarder() {
    // Pendant qu'on sauve, on ne veut pas d'autres actions
    RemoveGlobalKeypressHandlers();
    DesactiverChamps();
    DesactiverBoutons();

    put_data = {
      'prenom': $('#prenom input').val(),
      'nom': $('#nom input').val(),
      'listedenvoi': $('#listedenvoi input:checked').val(),
    };
  
    numero = $('#numero').text().trim();
    
    $.ajax({
      url: '/api/membres/' + numero,
      type: 'PUT',
      dataType: 'json',
      data: put_data,
      }).done(function (data) {
      if (data.status == 'ok') {
        InstallGlobalKeypressNormal();
        AfficherCacherBoutons();
        ActiverBoutons();
        ActiverChamps();
        RemettreTexte($('#prenom'), true);
        RemettreTexte($('#nom'), true);
        RemettreTexte($('#listedenvoi'), true);
        AfficherInfo('Sauvegardé !');
      } else {
        AfficherErreur('Erreur lors de la requête: ' + data.errorstr);
        ActiverBoutons();
        ActiverChamps();
        InstallGlobalKeypressEdit();
      }
    }).fail(function () {
      AfficherErreur('Erreur lors de la sauvegarde.');
      ActiverBoutons();
      ActiverChamps();
      InstallGlobalKeypressEdit();
    });
  }

  function Annuler() {
    InstallGlobalKeypressNormal();
    AfficherCacherBoutons();
    RemettreTexte($('#prenom'), false);
    RemettreTexte($('#nom'), false);
    RemettreTexte($('#listedenvoi'), false);
  }

  function RemplacerParInputText(cellule) {
    fixe = cellule.children('span');
    champ = cellule.children('input[type="text"]');

    champ.val(fixe.text());

    champ.show();
    fixe.hide();
  }

  function RemplacerParInputRadio(cellule) {
    fixe = cellule.children('span');
    champs = cellule.children('input[type="radio"]').show();
    cellule.children('label').show();
    cellule.buttonset();
    
    for (i = 0; i < champs.length; i++) {
      champ = champs[i];
      if ($(champ).val() == fixe.text()) {
        $(champ).click();
      }
    }

    fixe.hide();
  }

  function RemettreTexte(cellule, utiliser_nouvelle_valeur) {
    fixe = cellule.children('span').show();
    champ = cellule.children('input').hide();
    cellule.children('label').hide();
    
    if (utiliser_nouvelle_valeur) {
      // S'il y a des champs radio, on assume que c'est ce qui est utilisé.
      radios = cellule.find('input[type="radio"]');
      if (radios.length > 0) {
        fixe.text(radios.filter(':checked').val());
      } else {
        fixe.text(champ.val());
      }
    }
    
    return fixe.text();
  }

  $(document).ready(function() {
    $('#retourliste').button();
    $('#modifier').button().click(Modifier);
    $('#sauvegarder').button().click(Sauvegarder);
    $('#annuler').button().click(Annuler);
    InstallGlobalKeypressNormal();
  });

</script>

{% endblock %}
{% block content %}
  <h1>Membre :  {{ membre.prenom }} {{ membre.nom  }}</h1>
  <p>
    <a href="/membres" id="retourliste">Retour à la liste</a>
    <a id="modifier">Modifier</a>
    <a id="sauvegarder" style="display: none;">Sauvegarder</a>
    <a id="annuler" style="display: none;">Annuler</a>
  </p>
  <p>
  <strong>m</strong> - modifier, <strong>entrée</strong> - sauvegarder, <strong>échap.</strong> - annuler
  </p>
  <p>
    <table id="detailsmembre">
      <tbody>
        <tr class="even">
         <td class="cle">Numéro</td>
         <td class="valeur" id="numero">
           {{ membre.numero }}
         </td>
        </tr>
        <tr class="odd">
          <td class="cle">Prénom</td>
          <td class="valeur" id="prenom">
            <span>{{ membre.prenom }}</span>
            <input type="text" style="display: none;" />
          </td>
        </tr>
        <tr class="even">
          <td class="cle">Nom</td>
          <td class="valeur" id="nom">
            <span>{{ membre.nom }}</span>
            <input type="text" style="display: none;" />
          </td>
        </tr>
        <tr class="even">
          <td class="cle">Liste d'envoi</td>
          <td class="valeur" id="listedenvoi">
            <span>{{ membre.listedenvoi }}</span>
            <input type="radio" name="listedenvoi" value="oui" id="listedenvoi-oui" style="display: none;" /><label style="display: none;" for="listedenvoi-oui">oui</label>
            <input type="radio" name="listedenvoi" value="non" id="listedenvoi-non" style="display: none;" /><label style="display: none;" for="listedenvoi-non">non</label>
            <input type="radio" name="listedenvoi" value="fait" id="listedenvoi-fait" style="display: none;" /><label style="display: none;" for="listedenvoi-fait">fait</label>
          </td>
        </tr>
      </tbody>
    </table>
  </p>
{% endblock %}
