{% extends "layout.html" %}
{% block head_extra %}
<script src="/static/js/pieces.js"></script>
{% endblock %}

{% block content %}
  <h1>Liste des pièces</h1>

  <div id="loading" style="text-align: center">
    <img src="/static/loading.gif" />
  </div>

  <div id="ajout-a-facture" class="modal hide" tabindex='-1'>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Ajout de pièce</h3>
    </div>
    <div class="modal-body">
      <div id="boutons-factures" class="btn-group well" data-toggle="buttons-radio">

      </div>
      <div id="controles">
        <form class="form-inline" id="form-ajouter-a-facture">
          <input class="input-mini" type="text" id="quantiteneuf" placeholder="# neuf">
          <input class="input-mini" type="text" id="quantiteusage" placeholder="# usagé">
          <input type="submit" class="btn btn-primary" value="Ok">
        </form>
      </div>
    </div>
  </div>

  <div id="filtres">
    <form class="form-inline" onsubmit="return false;">
      <span id="filtre-numero"></span>
      <span id="filtre-section"></span>
      <span id="filtre-nom"></span>
      <span id="filtre-reference"></span>
      <button id="filtre-reset" class="btn">Reset !</button>
    </form>
  </div>

  <div>
    <table id="pieces">
      <thead>
         <tr>
           <th data-column="numero">#</th>
           <th data-column="section">Section</th>
           <th data-column="nom">Nom</th>
           <th data-column="reference">Référence</th>
           <th data-column="caracteristique">Caractéristiques</th>
           <th data-column="prixneuf" data-transform="NombreVersPrix">Prix</th>
           <th data-column="quantiteneuf">Quantité</th>
           <th data-column="prixusage" data-transform="NombreVersPrix">Prix (usagé)</th>
           <th data-column="quantiteusage">Quantité (usagé)</th>
           <th data-column="remarques">Remarques</th>
           <th data-transform="ColonneAjouterPiece"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

{% endblock %}
