table#pieces.dataTable {
  display: none;

  tbody tr td {
    text-align: center;
  }
}

table#pieces tr.inactive {
  color: #777;
}

table#pieces td.liste-pieces-cellule-colonne-icones {
  white-space: nowrap;
}

#ajout-a-facture {
  text-align: center;
  width: auto;

  #boutons-factures {
    text-align: left;
    padding: 5px;
    button {
      margin: 4px;
    }
  }

  #controles {
    padding: 4px;
  }
}

#ajoutpiece {
  display: none;
}
